html{
    margin: 0;
    padding: 0;
  }
    $text-color: #333;
    $primary-color: #333;
    $accent-color: #ffffff;
    $bg-image: '../images/background-grey.jpeg';


    body {
      background-image: url('../images/background-grey.jpeg'); 
      background-size: cover; 
      background-position: center; 
      background-repeat: no-repeat; 
    }
    


