model-viewer {
  width: 80%;
  max-width: 85%;
  height: 100%;
  padding: 180px 30px; /* Side padding for mobile */
  margin: auto auto;

  @media (min-width: 600px) {
    padding: 0 16px; /* Increased padding for tablet view */
    max-width: 600px;
    height: 600px;
  }

  @media (min-width: 1024px) {
    padding: 0 32px; /* Increased padding for desktop view */
    max-width: 1200px;
    height: 800px;
  }
}

/* Customize hotspot */
.Hotspot {
  background: url(../images/hotspot.svg) no-repeat center;
  border: 0;
  width: 50px;
  height: 50px;
}

.Hotspot:not([data-visible]) {
  opacity: 0;
}

/* Hide HotspotAnnotation on touch devices */
@media (hover: none) and (pointer: coarse) {
  .HotspotAnnotation {
    display: none !important; /* Disable hotspot annotation display */
  }
}

/* Default HotspotAnnotation styles */
.HotspotAnnotation {
  visibility: hidden;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.8);
  display: block;
  font-family: Helvetica Neue, sans-serif;
  font-size: 15px;
  font-weight: 200;
  left: calc(100% + 1em);
  max-width: 400px; 
  width: 200px; 
  overflow-wrap: break-word;
  padding: 0.75em 0.75em;
  position: absolute;
  top: 10%;
}

.HotspotAnnotation {
  color: #333;
  line-height: 22px;
  font-weight: 300;
  text-align: left;
}

.HotspotAnnotion h2 {
  font-size: 10px;
  margin-bottom: 5px;
}

.HotspotAnnotion p {
  font-size: 5px;
  margin-bottom: 5px;
}

/* Customize loading bar */
model-viewer::part(default-progress-bar) {
  height: 10px;
  background-color: white;
}
